@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./Montserrat/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./Montserrat/Montserrat-Medium.ttf) format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./Montserrat/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./Montserrat/Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./Montserrat/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}